$red: #c9082a;
$blue: #17408b;

html,
body,
#root,
.App {
  height: 100vh;
  margin: 0;
  font-family: Helvetica, sans-serif;
}

.App {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
}

body {
  background: $blue !important;
}

input {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

h1 {
  color: #fff;
  font-size: 50px;
  letter-spacing: -2px;
  margin: 0;
}

#search-only-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    position: absolute;
    top: 25%;
  }

  #search-bar {
    width: 30%;
  }
}
