@import "_common";

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background: $red;
  border-bottom: 2px solid #fff;

  h1 {
    font-size: 35px;
  }

  #search-container {
    width: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .player-pill {
      margin-right: 5px;
      padding: 5px 10px;
      border-radius: 20px;
      transition: all 0.2s ease-in-out;
      border: 1px solid white;

      span {
        margin-left: 5px;
        margin-right: -3px;
      }

      &:hover {
        transform: scale(1.05);
        cursor: pointer;
      }
    }

    #search-bar {
      width: 20%;
    }
  }
}
