@import "_common";

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background: $red;
  border-bottom: 2px solid #fff;
  margin: 0 -10px;

  h1 {
    font-size: 35px;
  }

  #search-container {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .player-pill {
      margin-right: 5px;
      padding: 5px 10px;
      border-radius: 20px;
      transition: all 0.2s ease-in-out;
      border: 1px solid white;

      span {
        margin-left: 5px;
        margin-right: -3px;
      }

      &:hover {
        transform: scale(1.05);
        cursor: pointer;
      }
    }

    #search-bar {
      width: 20%;
    }

    @media screen and (max-width: 700px) {
      width: 30%;

      .player-pill {
        display: none;
      }

      #search-bar {
        width: 100%;
      }
    }
  }
}

#nav-container {
  display: flex;
  justify-content: center;
  margin: 15px 0;

  button {
    width: 150px;

    &:focus {
      box-shadow: none;
    }

    &.btn-primary {
      background-color: $red;
      border-color: $red;
      cursor: default;
    }

    &.btn-outline-primary {
      color: $red;
      border-color: $red;
      background: #fff;

      &:hover {
        background: rgba(255, 255, 255, 0.7);
      }
    }
  }
}

.panel {
  background-color: #fff;
  margin-top: 20px;
  padding: 15px 15px 30px;
  border-radius: 4px;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    max-width: 1500px;
  }

  #radar-btn-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;

    .btn {
      &:focus {
        box-shadow: none;
      }

      &.btn-primary {
        background-color: $blue;
        border-color: $blue;
        cursor: default;
      }

      &.btn-outline-primary {
        color: $blue;
        border-color: $blue;

        &:hover {
          background: rgba(23, 64, 139, 0.1);
        }
      }
    }
  }

  .radar-card {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #bbb;
    box-shadow: 3px 3px 6px -6px black;
    position: relative;

    .fa-times-circle {
      position: absolute;
      top: 10px;
      right: 10px;
      color: #bbb;

      &:hover {
        transform: scale(1.2);
        cursor: pointer;
      }
    }

    &.no-stats {
      height: 458px;

      .didnt-play {
        font-size: 25px;
        width: 80%;
        position: absolute;
        text-align: center;
        left: 10%;
        top: 200px;
      }
    }

    .info-name-logo-container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: -15px 0 -10px;

      h2 {
        margin: 0;
      }

      svg {
        height: 60px;
        width: 70px;
      }
    }

    span {
      display: block;
    }

    canvas {
      margin-top: -20px;
    }
  }
}
